<div fxLayout="column wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="start" class="container-layout">
    <div *appCarousel="let evento from eventos | filterEventos autoplay 'on' withDelay 5000; let ctrl = controller">
        <mat-card class="main-map-card">
            <mat-card-header>
                <mat-icon>group_work</mat-icon>
                <mat-card-title>{{evento.titulo}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{evento.fecha | date }}
            </mat-card-content>
            <mat-card-actions>
                <button color="accent" mat-raised-button (click)="verDetalles(evento.id)">Detalles</button>
            </mat-card-actions>
        </mat-card>
        <div fxLayout="row" fxLayoutAlign="center">
            <button mat-icon-button (click)="ctrl.prev()">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <button mat-icon-button (click)="ctrl.next()">
                <mat-icon>navigate_next</mat-icon>
            </button>
        </div>
    </div>
</div>

<!-- <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="start" class="container-layout">
    <ng-container *ngFor="let item of eventos">
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <a class="card-link">
                <mat-card class="main-map-card">
                    <mat-card-header>
                        <mat-icon>group_work</mat-icon>
                        <mat-card-title>{{item.titulo}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        {{item.fecha}}
                    </mat-card-content>
                    <mat-card-actions>
                        <button color="accent" mat-raised-button (click)="verDetalles(item.id)">Detalles</button>
                    </mat-card-actions>
                </mat-card>
            </a>
        </div>
    </ng-container>
</div> -->